@using HardwareStore.App.Models.UserProfile
@model UserProfileViewModel
@{
    Layout = "_LayoutUserProfile";
}
<div class="row" id="userReviewsRow">
    <div class="col">
        @foreach (var item in Model.ProductReviews)
        {
            <div class="d-flex p-2 flex-column row-gap-3 fs-2 position-relative">
                <div class="d-md-flex justify-content-between column-gap-2">
                    <span>@item.CreatedOn.ToShortDateString()</span>
                    <a target="_blank" class="text-decoration-none" href="/ComponentDetail/@item.ProductId">Product</a>
                    <partial name="_ProductStarRatingPartial" model="@(double)item.Rating" />
                    <div>
                        @if (item.IsApproved && !item.IsDeleted)
                        {
                            <span class="border border-success bg-success p-2 rounded-pill ">Approved</span>
                        }
                        @if (!item.IsApproved)
                        {
                            <span class="border border-warning bg-warning p-2 rounded-pill ">NotApproved</span>
                        }
                        @if (item.IsDeleted)
                        {
                            <span class="border border-danger bg-danger p-2 rounded-pill ">IsDeleted</span>
                        }
                    </div>
                </div>
                <form method="post" asp-controller="UserProfile" asp-action="EditReview">                    
                    <input disabled type="hidden" name="ReviewId" value="@item.Id" />
                    <input disabled type="hidden" name="ProductId" value="@item.ProductId" />
                    <input asp-for="@Model.ReviewInputModel.Content" name="Content" disabled type="text" value="@item.Review" class="my-2 form-control" />
                    <select asp-for="@Model.ReviewInputModel.Rating" name="Rating" disabled class="form-select">
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                    @Html.AntiForgeryToken()
                    <button data-editbtn type="button" class="btn btn-outline-info">Edit</button>
                    <button class="btn btn-outline-info">Apply</button>
                </form>
                @if (!item.IsDeleted)
                {

                    <form method="post" asp-controller="UserProfile" asp-action="RemoveReview"> 
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="reviewId" value="@item.Id" />
                        <button class="btn btn-outline-danger position-absolute bottom-0 end-0" type="submit">Delete</button>
                    </form>
                }
            </div>
            <hr />
        }

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let reviewsRow = document.querySelector('#userReviewsRow');
        reviewsRow.addEventListener('click', EnableInputs);

        function EnableInputs(event) {
            let target = event.target;
            if (target.matches('button[data-editbtn]')) {

                let form = target.closest('form');
                let inputs = Array.from(form.querySelectorAll('input'));
                let selectInput = form.querySelector('select');


                inputs.forEach(x => {
                    x.toggleAttribute("disabled");
                })
                selectInput.toggleAttribute("disabled");
            }
        }
    </script>
}