@model CreateCategoryInputModel;
<form method="post" action="/administration/categorymanagment/createcategory">
    @Html.AntiForgeryToken()
    <div class="text-danger mb-2" asp-validation-summary="All"></div>
    <div class="row mb-2">
        <div class="col-md">
            <input class="form-control" asp-for="@this.Model.Name" placeholder="Category name" />
            <span class="form-label mb-1 text-danger" asp-validation-for="@this.Model.Name"></span>
        </div>
        <div class="col-md">
            <input class="form-control" asp-for="@this.Model.Image" placeholder="Image URL" />
            <span class="form-label mb-1 text-danger" asp-validation-for="@this.Model.Image"></span>
        </div>
    </div>
    <button id="submitBtn" type="submit" class="btn btn-success">Submit</button>
</form>

