@model CategoryInfoViewModel

<div class="row justify-content-center" id="cateInfoDiv">
    <partial name="_CategoryEditFormPartial" model="@Model.CategoryEditModel" />
</div>
<div class="row justify-content-center">
    <h3 class="text-center">Specifications</h3>
    <div class="col">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Filter</th>
                    <th scope="col">Info Level</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CategoryInfoModel.Specifications)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Filter</td>
                        <td>@item.InfoLevel</td>
                        <td>
                            <a asp-area="Administration" asp-action="SpecificationInfo" asp-route-Id="@item.Id" class="btn btn-outline-info">Edit</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col" id="specDiv">
        <button data-bs-toggle="collapse" data-bs-target="#specForm" data-bs- id="getFormBtn" class="btn btn-outline-primary">Add</button>
        <partial name="_SpecificationCreateFormPartial" model="@Model.SpecificationCreateForm" />
    </div>
</div>


