@model List<CategoryViewModel>
<div class="row">
    <div class="col-md-8 mx-auto">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Category Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.Model)
                {
                    <tr data-categoryInfo>
                        <th data-catid="@item.Id" scope="row">@item.Id</th>
                        <td data-itemName="@item.Name">@item.Name</td>
                        <td data-item-image="@item.Image" class="text-truncate">
                        </td>
                        <td>
                            <a href="categoryinfo?categoryId=@item.Id" class="btn btn-outline-info">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    @{
        var errMessages = (List<string>)ViewData["ErrorMessages"];
    }
    <div class="col-md-8 mx-auto">
        @if (errMessages != null)
        {
            <div class="alert alert-danger">
                <ul class="list-unstyled">
                    @foreach (var error in errMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto d-flex justify-content-end">
        <button id="addCategoryBtn" class="btn btn-success">Add new Category</button>
    </div>
</div>
<div class="row">
    <div id="categoryFormDiv" class="col-md-8 mx-auto">
    </div>
</div>

@section Scripts{
    <script>







        let addCategoryBtn = document.querySelector('#addCategoryBtn');
        let categoryFormContainer = document.querySelector('#categoryFormDiv');
        addCategoryBtn.addEventListener('click', GetForm);

        async function GetForm() {

            if (categoryFormContainer.querySelector('form')) {
                return;
            }

            categoryFormContainer.innerHTML = '';
            let url = `https://localhost:7082/Administration/CategoryManagment/createcategory`;
            let response = await fetch(url, {
                method: "GET"
            });
            let html = await response.text();

            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            const form = doc.querySelector('form');
            const body = document.querySelector('body');
            const scripts = doc.querySelectorAll('script');
            categoryFormContainer.appendChild(form);

            scripts.forEach(script => {
                if (!document.querySelector('body').querySelector(`script[src="${script.src}"`)) {

                    const newScript = document.createElement('script');
                    newScript.src = script.src;
                    document.body.appendChild(newScript);

                }

            });

        }


    </script>
}