@model CategoryListingViewModel;
<div class="row mb-3">
    <div class="col-md-8 mx-auto">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Category Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.Model.Categories)
                {
                    <tr data-categoryInfo>
                        <th data-catid="@item.Id" scope="row">@item.Id</th>
                        <td data-itemName="@item.Name">@item.Name</td>
                        <td data-item-image="@item.Image" class="text-truncate">
                        </td>
                        <td>
                            <a href="categoryinfo/@item.Id" class="btn btn-outline-info">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button data-bs-toggle="collapse" data-bs-target="#categoryFormRow" id="addCategoryBtn" class="btn btn-success">Add Category</button>
    </div>
</div>
<div class="collapse @ViewData["FormCollapse"] row" id="categoryFormRow">
    <div id="categoryFormDiv" class="col-md-8 mx-auto">
        <partial name="_CreateCategoryPartial" model="@Model.CategoryFormModel" />
    </div>
</div>

