@model ProductExtendedModel
<div class="container-fluid catalog-product-card d-flex flex-column justify-content-between h-100">
    <div class="row">
        <div class="d-flex flex-column p-0">
            <h3 class="py-3 bg-primary text-center"><a class="text-white  fs-2 text-decoration-none" asp-action="ComponentDetail" asp-route-id="@this.Model.Id"><span title="@this.Model.NameDetailed" class="text-nowrap">@this.Model.Name</span></a></h3>
            <partial name="_ProductStarRatingPartial" model="@Model.ProductReviewsRatingAvg" />
        </div>
    </div>
    <div class="row catalog-product-content">
        <div class="col-lg-6">
            <a asp-action="ComponentDetail" asp-route-Id="@Model.Id">
                <div class="d-flex justify-content-center align-items-center overflow-hidden" style="height:300px;">
                    <img class="img-fluid" src="@Model.ImageUrl" alt="product img" style="max-height:250px;">
                </div>
            </a>            
        </div>
        <div class="col-lg-6">
            <ul class="catalog-product-specs list-group fs-5 h-100 justify-content-center">
                @foreach (var item in this.Model.Specifications)
                {
                    <li class="list-group-item">
                        <span class="fw-bold">@item.Name:</span>
                        <span>@string.Join(",", item.Values)</span>
                    </li>
                }
            </ul>
        </div>

    </div>
    <div class="row justify-content-end py-3">
        <div class="col-md-6 justify-content-end d-flex">
            <button class="btn btn-primary " data-addProductToCart="@Model.Name" data-productId="@Model.Id">Buy</button>
            <span class="fw-bold text-success">@Model.Price$</span>
        </div>        
    </div>
    
</div>
