@model ProductExtendedModel
<div class="catalog-product-card">
    <div class="d-flex flex-column">
        <h3 class="text-center catalog-product-title"><a asp-action="ComponentDetail" asp-route-id="@this.Model.Id"><span title="@this.Model.NameDetailed" class="text-nowrap">@this.Model.Name</span></a></h3>
        @if (Model.ProductReviewsRatingAvg > 0)
        {
            <partial name="_ProductStarRatingPartial" model="@Model.ProductReviewsRatingAvg" />
        }
    </div>
    <div class="catalog-product-content">
        <div class="catalog-product-img-container">
            <a asp-action="ComponentDetail" asp-route-id="@this.Model.Id"><img class="catalog-product-img" src="@Model.ImageUrl" alt="product img"></a>
        </div>
        <ul class="catalog-product-specs list-group">
            @foreach (var item in this.Model.Specifications)
            {
                <li class="list-group-item">
                    <span class="fw-bold">@item.Name:</span>
                    <span>@string.Join(",", item.Values)</span>
                </li>
            }
        </ul>
    </div>
    <div class="btn-group align-items-center">

        <button class="btn btn-primary ms-auto" data-addProductToCart="@Model.Name" data-productId="@Model.Id">Buy</button>
        <span class="fw-bold text-success ms-auto me-auto">@Model.Price$</span>

    </div>
</div>
