@using HardwareStore.App.Models.ProductCatalog
@model ComponentDetailViewModel
<div class="container p-0">
    <div class="product-title-container mb-3">
        <h1 class="product-title p-lg-3">
            @{
                var name = this.Model.Product.NameDetailed ?? this.Model.Product.Name;
                @name
            }
        </h1>
        <a href="/Catalog/Products/@this.Model.Product.CategoryId">@this.Model.Product.CategoryName</a>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 order-md-1">
            <div class="product-img-display">
                <div class="product-img-display-container">
                    <img id="displayImg" src="@this.Model.Product.Images.FirstOrDefault()" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        @if (Model.Product.ProductReviewsRatingAvg > 0)
                        {
                            <partial name="_ProductStarRatingPartial" model="@Model.Product.ProductReviewsRatingAvg" />
                        }
                    </div>
                </div>
            </div>
            @if (this.Model.Product.Images.Count > 1)
            {
                <hr />
                <div class="product-gallery">
                    <div class="product-img-list" id="imgList">
                        <ul class="d-flex justify-content-center">
                            @foreach (var image in this.Model.Product.Images)
                            {
                                <li class="product-gallery-img-container">
                                    <img src="@image">
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            }
            <div class="row justify-content-end">
                <div class="col-4">
                    <div class="extra-info-container" id="productInfoContainer">
                        <div class="btn-container align-items-center">
                            <button class="btn btn-primary btn-lg ms-auto" data-addProductToCart="@Model.Product.NameDetailed" data-productId="@Model.Product.Id">Buy</button>
                            <span class="fw-bold text-success ms-auto me-auto">@Model.Product.Price$</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-column" id="productReviewsRow">
                <p>Reviews</p>
                <partial name="_ProductReviewsPartial" model="@Model.ProductReviewViewModel" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-specs">
                <span>Specifications</span>
                <table class="table table-striped ">

                    <tbody>
                        @foreach (var item in this.Model.Product.Specifications.OrderBy(x => x.Name))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@string.Join(", ", item.Values)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let submitReviewBtn = document.querySelector('#submitReviewBtn');
        if (submitReviewBtn) {
            submitReviewBtn.addEventListener('click', SubmitReviewForm);
        }
        async function SubmitReviewForm(event) {

            event.preventDefault();

            $('#reviewForm').validate();
            if ($('#reviewForm').valid()) {
                let reviewForm = document.querySelector('#reviewForm');
                let data = new FormData(reviewForm);
                var token = $('[name=__RequestVerificationToken]').val();
                const jsonObject = {};
                data.forEach((value, key) => {
                    jsonObject[key] = value;
                });
                let reviewApiUrl = `/api/ReviewApi`;
                let response = await fetch(reviewApiUrl, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRF-TOKEN": token
                    },
                    body: JSON.stringify(jsonObject)
                })
                if (response.ok) {
                    var productId = @Model.Product.Id;
                    var reviewsUrl = `/Review/ProductReviews?productId=${productId}`;
                    $('#productReviewsRow').load(reviewsUrl);
                }
            }
        };
        let productContainer = document.querySelector('#productInfoContainer');
        productContainer.addEventListener('click', AddProductToCart);
        let imgList = document.querySelector('#imgList');
        let displayImg = document.querySelector('#displayImg')
        let imgContainers = document.querySelectorAll(".product-gallery-img-container");
        if (imgList) {
            imgList.addEventListener('click', ChangeImage);
        }
        function ChangeImage(event) {
            if (event.target instanceof HTMLImageElement) {
                let selectedImg = event.target.getAttribute("src");
                displayImg.setAttribute("src", selectedImg);
                imgContainers.forEach((element) => element.classList.remove('active'));
                let selectedContainer = event.target.closest('.product-gallery-img-container');
                selectedContainer.classList.add("active");
            }
        }

    </script>
}
