@using HardwareStore.App.Models.ProductCatalog;
@model ProductCatalogModel

<div class="row mb-5 justify-content-center">
    <div class="col-lg-6 d-flex gap-3">
        <input id="searchInput" class="form-control" placeholder="Search..." />
        <button id="searchSubmitBtn" class="btn btn-info">Search</button>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <form id="filterForm" method="get" asp-controller="ProductCatalog" asp-action="Products" asp-route-category="@this.TempData["Category"]">
            @{
                var selectedM = TempData["selectedSpecs"] as List<int>;
            }
            <ul class="list-group">
                @foreach (var filter in this.Model.ProductFilters.Specifications)
                {
                    <li class="list-group-item">
                        <span>@filter.Name</span>
                        @foreach (var value in filter.Values)
                        {
                            <div class="form-check">
                                @if (selectedM is not null && selectedM.Contains(value.Id))
                                {
                                    <input class="form-check-input" type="checkbox" value="@value.Id" id="@value.Id" name="ss" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="@value.Id" id="@value.Id" name="ss">
                                }
                                <label class="form-check-label" for="@value.Id">@value.Value</label>
                            </div>
                        }
                    </li>
                }
            </ul>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="row flex-column">
            <div class="col">
                @foreach (var product in this.Model.Products)
                {
                    <partial name="_ProductCardPartial" model="@product" />
                }
            </div>
            <div class="col">
                <ul id="pagination" class="pagination justify-content-center">

                    <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@this.Model.Pagination.PreviousPageNumber" data-pageNumber="@this.Model.Pagination.PreviousPageNumber">Previous</a></li>

                    @for (int i = this.Model.Pagination.Page - 3; i < this.Model.Pagination.Page; i++)
                    {
                        if (i > 0)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@i" data-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="page-item active"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@this.Model.Pagination.Page" data-pageNumber="@this.Model.Pagination.Page">@this.Model.Pagination.Page</a></li>

                    @for (int i = this.Model.Pagination.Page + 1; i <= this.Model.Pagination.Page + 3; i++)
                    {
                        if (i <= this.Model.Pagination.PageSize)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@i" data-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@this.Model.Pagination.NextPageNumber" data-pageNumber="@this.Model.Pagination.NextPageNumber">Next</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        let filterForm = document.querySelector('#filterForm');
        filterForm.addEventListener('click', SubmitForm);

        function SubmitForm(event) {
            if (event.target.type == "checkbox") {
                filterForm.submit();
            }
        };

        let searchSubmitBtn = document.querySelector('#searchSubmitBtn');
        searchSubmitBtn.addEventListener('click', (event) => {
            let searchInputElement = document.querySelector('#searchInput');
            let value = searchInputElement.value;
            let formAction = filterForm.getAttribute('action');
            console.log(formAction);
            console.log(value);

            let url = `https://localhost:7082/catalog/Products/?s=${value}`;
            window.location.href = url;
        })
    </script>
}