@using HardwareStore.App.Models.ProductCatalog;
@model ProductCatalogModel

<div class="row mb-5 justify-content-center">
    <div class="col-lg-6 d-flex gap-3">
        <input id="searchInput" class="form-control" value="@TempData["SearchString"]" placeholder="Search..." />
        <button id="searchSubmitBtn" class="btn btn-info">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">

        <select id="sortProductsSelectMenu" class="btn btn-primary mb-2 form-select">
            @foreach (var item in this.Model.ProductFilters.SortOrder)
            {
                if (item == TempData["sortOrder"].ToString())
                {
                    <option selected value="@item">@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
        <button class="btn btn-primary w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#FilterMenu" aria-expanded="false" aria-controls="collapseExample">
            Filters
        </button>
        <div class="collapse show" id="FilterMenu">
            <form id="filterForm" method="get" asp-controller="ProductCatalog" asp-action="Products" asp-route-category="@this.TempData["Category"]">
                @{
                    var selectedSpecificationIds = TempData["selectedSpecs"] as List<int>;
                    var selectedManufacturerIds = TempData["selectedManufacturers"] as List<int>;

                }
                <input id="sortOrderHidden" type="hidden" name="so" value="newest" />
                <input id="searchInputHidden" type="hidden" name="s" />
                <input id="pageNumber" type="hidden" name="page" />
                <ul class="list-group">
                    @foreach (var filter in this.Model.ProductFilters.Specifications)
                    {
                        <li class="list-group-item">
                            <span>@filter.Name</span>
                            @foreach (var value in filter.Values)
                            {
                                <div class="form-check">
                                    @if (selectedSpecificationIds is not null && selectedSpecificationIds.Contains(value.Id))
                                    {
                                        <input class="form-check-input" type="checkbox" value="@value.Id" id="@value.Id" name="ss" checked>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" value="@value.Id" id="@value.Id" name="ss">
                                    }
                                    <label class="form-check-label" for="@value.Id">@value.Value</label>
                                </div>
                            }
                        </li>
                    }
                    <li class="list-group-item">
                        <span>Manufacturers</span>
                        @foreach (var manufacturer in Model.ProductFilters.Manufacturers)
                        {
                            var inputid = $"M{manufacturer.Item1}";
                            <div class="form-check">
                                @if (selectedManufacturerIds is not null && selectedManufacturerIds.Contains(manufacturer.Item2))
                                {
                                    <input class="form-check-input" type="checkbox" value="@manufacturer.Item2" id="@inputid" name="m" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="@manufacturer.Item2" id=@inputid name="m">
                                }
                                <label class="form-check-label" for=@inputid>@manufacturer.Item1</label>
                            </div>
                        }
                    </li>

                </ul>
            </form>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="row flex-column">
            <div class="col">
                @foreach (var product in this.Model.Products)
                {
                    <partial name="_ProductCardPartial" model="@product" />
                }
            </div>
            <div class="col">
                <ul id="pagination" class="pagination justify-content-center">

                    <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@this.Model.Pagination.PreviousPageNumber" data-pageNumber="@this.Model.Pagination.PreviousPageNumber">Previous</a></li>

                    @for (int i = this.Model.Pagination.Page - 3; i < this.Model.Pagination.Page; i++)
                    {
                        if (i > 0)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@i" data-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="page-item active"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@this.Model.Pagination.Page" data-pageNumber="@this.Model.Pagination.Page">@this.Model.Pagination.Page</a></li>

                    @for (int i = this.Model.Pagination.Page + 1; i <= this.Model.Pagination.Page + 3; i++)
                    {
                        if (i <= this.Model.Pagination.PageSize)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@i" data-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" asp-controller="catalog" asp-route-category="@TempData["Catalog"]" asp-route-page="@this.Model.Pagination.NextPageNumber" data-pageNumber="@this.Model.Pagination.NextPageNumber">Next</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        let filterForm = document.querySelector('#filterForm');
        filterForm.addEventListener('click', (event) => {
            if (event.target.type == "checkbox") {
                SubmitForm();
            }
        });

        function SubmitForm() {
            let searchStringInputElement = document.querySelector('#searchInput');
            let orderSelectInput = document.querySelector('#sortProductsSelectMenu');

            document.querySelector('#sortOrderHidden').value = orderSelectInput.value;
            document.querySelector('#searchInputHidden').value = searchStringInputElement.value;

            filterForm.submit();
        };

        let searchSubmitBtn = document.querySelector('#searchSubmitBtn');
        searchSubmitBtn.addEventListener('click', (event) => {
            SubmitForm();
        })

        let sortProductsSelectMenu = document.querySelector('#sortProductsSelectMenu');
        sortProductsSelectMenu.addEventListener('change', (event) => {
            SubmitForm();
        })

        let pagiantion = document.querySelector('#pagination');
        pagination.addEventListener('click', (event) => {
            event.preventDefault();
            if (event.target.matches('[data-pageNumber]')) {
                document.querySelector('#pageNumber').value = event.target.dataset.pagenumber;
                SubmitForm();
            }
        })

    </script>
}