@using HardwareStore.App.Models.Account;
@model UserLoginFormModel;
<div class="row reg-form-wrapper justify-content-center">
    <span class="h3">Login</span>
    <div class="col-md-4 ">
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" class="row-gap-2 d-flex flex-column">
            <div class="row">
                <label asp-for="@Model.Email" class="form-label p-0 m-0"></label>
                <span asp-validation-for="@Model.Email" class="text-danger p-0"></span>
                <input asp-for="@Model.Email" class="form-control" placeholder="Email">
            </div>
            <div class="row">
                <label asp-for="@Model.Password" class="form-label p-0 m-0"></label>
                <span asp-validation-for="@Model.Password" class="text-danger p-0"></span>
                <input asp-for="@Model.Password" class="form-control" placeholder="Password" type="password">
            </div>
            <button asp-controller="Account" asp-action="Login" type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <br />
   
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}