@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-content position-relative">
                            <div class="courosel-img-container z-n1">
                                <img class="img-fluid" src="/Images/Layout/OIG3.Ud_EVSEUduSB1GBx.jpg" alt="...">
                            </div>
                            <div class="bg-primary p-2 text-white bg-opacity-25 container position-absolute top-50 start-50 translate-middle border border-white  p-5">
                                <div class="row justify-content-center ">
                                    <div class="col-10 text-center fs-1">
                                        <a class="text-white text-decoration-none" href="/Catalog/Products/10"><p class="m-0">Video Cards</p></a>
                                    </div>
                                    <div class="col-10 text-center fs-1">
                                        <a class="text-white text-decoration-none" href="/Catalog"><p class="m-0">Catalog</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <div class="courosel-img-container">
                                <img class="img-fluid" src="/Images//Layout/OIG3.jpg" alt="...">
                            </div>
                            <div class="bg-primary p-2 text-white bg-opacity-25 container position-absolute top-50 start-50 translate-middle border border-white  p-5">
                                <div class="row justify-content-center">
                                    <div class="col-10 text-center fs-1">
                                        <a class="text-white text-decoration-none" href="/Catalog/Products/5"><p class="m-0">Processors</p></a>
                                    </div>
                                    <div class="col-10 text-center fs-1">
                                        <a class="text-white text-decoration-none" href="/Catalog"><p class="m-0">Catalog</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <div class="courosel-img-container">
                                <img class="img-fluid" src="~/Images//Layout/OIG2.0VbLkCBcipwgpqYhX.jpg" alt="...">
                            </div>
                            <div class="bg-primary p-2 text-white bg-opacity-25 container position-absolute top-50 start-50 translate-middle border border-white  p-5">
                                <div class="row justify-content-center">
                                    <div class="col-10 text-center fs-1">
                                        <a class="text-white text-decoration-none" href="/Catalog/Products/8"><p class="m-0">Memory</p></a>
                                    </div>
                                    <div class="col-10 text-center fs-1">
                                        <a class="text-white text-decoration-none" href="/Catalog"><p class="m-0">Catalog</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <h3 class="bg-primary text-white text-center">Latest</h3>
        <div class="col-xl-8">
            <div class="row" id="productLatestRow">
                @foreach (var item in Model.Products)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 hvr-grow">
                        <div class="product-home-card d-flex flex-column justify-content-between p-1">
                            <partial name="_ProductStarRatingPartial" model="@item.ProductReviewsRatingAvg" />
                            <div class="product-home-card-image-container">
                                <a href="/ComponentDetail/@item.Id"><img src="@item.Image" /></a>
                            </div>
                            <div class="product-home-card-content">
                                <p class="text-break text-center m-0"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/ComponentDetail/@item.Id">@item.Name</a></p>
                                <div class="input-group align-items-center justify-content-end">
                                    <span class="me-2 fw-bold text-success">@item.Price$</span>
                                    <button class="btn btn-primary" data-addProductToCart="@item.Name" data-productId="@item.Id">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script>
        let productRow = document.querySelector('#productLatestRow');
        productRow.addEventListener('click', AddProductToCart);
    </script>
}