@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section-container container-fluid">
    <div class="row">
        <div class="col text-light text-center">
            <p class="h1">Hardware<span>STORE</span></p>
            <a class="fs-1 text" href="/Catalog">Catalog</a>
        </div>
    </div>
</section>
<div class="container-fluid">
    <a asp-area="administration" asp-controller="Admin" asp-action="Index">Click</a>
    <h3 class="bg-primary text-white text-center">Latest</h3>
    <div class="container">
        <div class="row" id="productLatestRow">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-3">
                    <div class="product-home-card d-flex flex-column justify-content-between p-1">
                        @if (item.ProductReviewsRatingAvg > 0)
                        {
                            <partial name="_ProductStarRatingPartial" model="@item.ProductReviewsRatingAvg" />
                        }

                        <div class="product-home-card-image-container">
                            <a href="/ComponentDetail/@item.Id"><img src="@item.Image" /></a>
                        </div>
                        <div class="product-home-card-content">
                            <p class="text-break text-center m-0"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/ComponentDetail/@item.Id">@item.Name</a></p>
                            <div class="input-group">
                                <button class="btn btn-primary ms-auto" data-addProductToCart="@item.Name" data-productId="@item.Id">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>

</div>




@section Scripts {
    <script>
        let productRow = document.querySelector('#productLatestRow');
        productRow.addEventListener('click', AddProductToCart);
    </script>
}